.container {
  width: min(100% - 2rem, var(--container-width));
  margin-inline: auto;
}

.narrow {
  max-width: 900px;
}

.default {
  max-width: var(--container-width);
}

.wide {
  max-width: 1360px;
}

@media (min-width: 768px) {
  .container {
    width: min(100% - 3rem, var(--container-width));
  }
}